@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --title-size: 2rem;
    --color1: #363434;
    --color2: #b3aeae;
    --color3: #dddcdc;
}

body{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    margin:0;
    padding: 0;
}

header{
    /* position: absolute; */
    width: 100%;
    padding: 1rem;
}

header h1, header h1 a{
    width: fit-content;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: var(--title-size);
    margin:0;
    color: var(--color1);
    text-decoration: none;
    /* margin:1rem; */
}

main{
    width: 100%;
    height: fit-content;
}

main #content{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

main h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: var(--color2);
}

article{
    width: 100%;
    margin-top: 3rem;
}

article .img{
    width: 100%;
    height: 300px;
    border: 2px solid var(--color3);
    box-shadow: 0px 3px 8px #88888823;
    background-position: center;
    background-repeat: no-repeat;
}

article h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.75rem;
    color: var(--color1);
    margin: 1em 0px 0px;
}

article h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color2);
}

article .tags a{
    font-family: 'Roboto Slab', serif;
    font-size: .7rem;
    background-color: var(--color3);
    color:var(--color1);
    padding: .2rem 1rem .2rem;
    border-radius: 2em;
    transition: .2s;
    text-decoration: none;
}

article .tags a:hover{
    background-color: var(--color2);
    color:white;
    cursor: pointer;
}

article p{
    font-family: 'Castoro', serif;
    text-align: justify;
    font-size: 1.25rem;
}

article button{
    background-color: transparent;
    border: 2px solid var(--color3);
    padding: 1em;
    transition: .2s; 
}

article button a{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: .75rem;
    color: #969393;
    text-decoration: none;
}
article button:hover{
    cursor: pointer;
    background-color: var(--color3);
    /* color: #807d7d; */
    box-shadow: 0px 3px 8px #88888823;
}
article button:active{
    background-color: #c5c2c2;
    border: 2px solid #c5c2c2;
    box-shadow: none;
}

article button:focus{outline: none;}

footer{
    width: 100vw;
    max-width: 100%;
    background-color: rgb(250, 250, 250);
    padding: .25em 0em .25em;
    margin-top: 5rem;
}
footer h4{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-align: center;
}

body::-webkit-scrollbar {
    width: .5vw;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
   
body::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.5);
}