header{
    /* position:sticky; */
    box-shadow: none;
    background-color: white;
    box-shadow: 0px 3px 8px #88888865;
}
#t-banner{
    position: fixed;
    top: 0;
    width: 100%;
    height: 700px;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0px 3px 8px #88888865; */
}
.bmask{
    width: 100%;
    height: fit-content;
    /* background-color: white;
    margin-top: 600px; */
    padding-top:1rem ;
}

main{ margin: 0; }
article{ padding-bottom: 5rem; }

/* ======================================================== */
/* =================== CODE VISUALIZER ==================== */
/* ======================================================== */

pre.terminalmarkup {
    width: 100%;
    font-family: monospace;
    box-sizing: border-box;
    background-color: #282c34;
    /* font-size: 1.25rem; */
    font-size: var(--text-size);
    border-radius: 4px;
    padding: .25rem .25rem .25rem 2rem;
    color: #8c939f;
    overflow-y: hidden;
    overflow-x: auto;
}

pre.terminalmarkup::-webkit-scrollbar {
    height: 8px;
}
   
pre.terminalmarkup::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
   
pre.terminalmarkup::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.5);
}

/* article section p:nth-of-type(1){ */
article p.sdescription {
    color: var(--color2);
}

.codemarkup {
    box-sizing: border-box;
    font-family: monospace;
    background-color: #1e1e1e;
    font-size: 1.25rem;
    border-radius: 4px;
    padding: 1rem;
    color: white;
}

.codemarkup .keyword {
    color: #569cd6;
}

.codemarkup .method {
    color: #dcdcaa;
}

.codemarkup .string {
    color: #ce9178;
}

.codemarkup .var {
    color: #9cdcfe;
}

.codemarkup .mechanic {
    color: #c586c0;
}

/* ======================================================== */
/* ======================= IMAGES ========================= */
/* ======================================================== */

article img{
    width: 100%;
    height: auto;
    border: 1px solid var(--color3);
    box-shadow: 0px 3px 8px #88888823;
}

@media (max-width: 600px){
    article img{
        width: 100%;
        height: auto;
        border: none;
    }
    /* pre.terminalmarkup{
        font-size: 1rem;
    } */
}